@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  background-color: #0f172a;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.row {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.loader__background {
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 60px;
  border-radius: 5px;
}
.loader__background p {
  font-size: 18px;
}

nav {
  display: flex;
  width: 100%;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 16px;
  height: 80px;
  align-items: center;
}
@media (max-width: 600px) {
  nav {
    max-width: 1600px;
    padding: 0 20px;
  }
}
nav .nav__logo h2 {
  font-size: 24px;
}
@media (max-width: 600px) {
  nav .nav__logo h2 {
    font-size: 22px;
  }
}
nav .nav__options {
  display: flex;
}
nav .nav__options--option {
  margin-left: 22px;
}
nav .nav__options--option-link {
  font-size: 22px;
  cursor: pointer;
}
@media (max-width: 600px) {
  nav .nav__options--option-link {
    font-size: 18px;
  }
}

.section.section__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e293b;
  height: 60px;
}
.section__options {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
@media (max-width: 600px) {
  .section__options {
    padding-right: 0;
  }
}
.section__options--option-text {
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .section__options--option-text {
    font-size: 14px;
  }
}
.section__options--option:last-child {
  padding-left: 14px;
}

.anime-list {
  margin: 40px 0;
}
.anime-list__wrapper {
  width: 100%;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-top: 20px;
}
.anime-list .anime__block {
  border-radius: 5px;
  transition: all 300ms ease;
}
.anime-list .anime__block:hover {
  background-color: #1e293b;
}
.anime-list .anime__block .anime {
  padding: 14px;
}
.anime-list .anime__block .anime__img {
  position: relative;
}
.anime-list .anime__block .anime__img img {
  cursor: pointer;
  z-index: 1;
}
.anime-list .anime__block .anime__img .anime__buttons {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}
.anime-list .anime__block .anime__img .anime__buttons--button {
  z-index: 2;
  background-color: #0f172a;
  margin-bottom: 10px;
  border: none;
  outline: none;
  text-align: center;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}
.anime-list .anime__block .anime__img .anime__buttons--button:hover {
  background-color: #2563eb;
}
.anime-list .anime__block .anime__img .anime__buttons--button:hover p {
  display: block;
}
.anime-list .anime__block .anime__img .anime__buttons--button .icon {
  width: 1rem;
  height: 1rem;
  color: white;
}
@media (max-width: 560px) {
  .anime-list .anime__block .anime__img .anime__buttons--button .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
.anime-list .anime__block .anime__img .anime__buttons--button p {
  padding: 0 4px;
  text-align: right;
  font-size: 10px;
  display: none;
}
@media (max-width: 560px) {
  .anime-list .anime__block .anime__img .anime__buttons--button p {
    font-size: 12px;
  }
}
.anime-list .anime__block .anime__title, .anime-list .anime__block .anime__info {
  padding-top: 14px;
}
.anime-list .anime__block .anime__title {
  max-width: 100%;
}
.anime-list .anime__block .anime__title p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.anime-list .anime__block .anime__title p:hover {
  text-overflow: unset;
  overflow: visible;
  white-space: normal;
  word-break: break-all;
}
.anime-list .anime__block .anime__info {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.anime-list .anime__block .anime__categories {
  width: 100%;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 6px;
}
.anime-list .anime__block .anime__categories--category {
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 14px;
}
.anime-list .anime__block .anime__categories--category:last-child {
  margin-right: 0;
}
.anime-list .anime__block .anime__categories--category span {
  background-color: #334155;
  padding: 4px;
  border-radius: 5px;
}

.skeleton__block .skeleton {
  padding: 14px;
}
.skeleton__block .skeleton__img {
  background-color: rgb(177, 177, 177);
  width: 100%;
  height: 380px;
}
@media (max-width: 560px) {
  .skeleton__block .skeleton__img {
    height: 540px;
  }
}
@media (max-width: 400px) {
  .skeleton__block .skeleton__img {
    height: 380px;
  }
}
.skeleton__block .skeleton__title {
  max-width: 100%;
  margin-top: 20px;
  background-color: rgb(105, 105, 105);
  height: 18px;
  border-radius: 5px;
}
.skeleton__block .skeleton__categories {
  width: 100%;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 6px;
}
.skeleton__block .skeleton__categories--category {
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 14px;
}
.skeleton__block .skeleton__categories--category:last-child {
  margin-right: 0;
}
.skeleton__block .skeleton__categories--category span {
  background-color: #334155;
  padding: 2px 22px;
  border-radius: 5px;
}

.section__title {
  font-size: 16px;
  font-weight: 700;
}

.bookmarks__no-result {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bookmarks__no-result--background {
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 60px;
  border-radius: 5px;
}
.bookmarks__no-result--background p {
  font-size: 18px;
}

.bookmarks__no-result {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bookmarks__no-result--background {
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 60px;
  border-radius: 5px;
}
.bookmarks__no-result--background p {
  font-size: 18px;
}

.favorites__no-result {
  width: 100%;
  display: flex;
  justify-content: center;
}
.favorites__no-result--background {
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 60px;
  border-radius: 5px;
}
.favorites__no-result--background p {
  font-size: 18px;
}

.clicked-anime__wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .clicked-anime__wrapper {
    padding: 0 20px;
  }
}
.clicked-anime__wrapper .clicked-anime__block {
  display: flex;
  width: 100%;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), var(--tw-shadow);
  padding: 1rem;
  margin-bottom: 40px;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: #1e293b;
}
@media (max-width: 768px) {
  .clicked-anime__wrapper .clicked-anime__block .clicked-anime {
    flex-direction: column;
    align-items: center;
  }
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__img {
  width: 40%;
}
@media (max-width: 768px) {
  .clicked-anime__wrapper .clicked-anime__block .clicked-anime__img {
    width: 100%;
  }
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__img img {
  height: 100%;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
}
@media (max-width: 768px) {
  .clicked-anime__wrapper .clicked-anime__block .clicked-anime__text {
    padding-left: 0;
    padding: 40px 0 20px 0;
    width: 100%;
  }
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text > div,
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text ul {
  margin-bottom: 18px;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text :last-child {
  margin-bottom: 0;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--info p {
  font-size: 12px;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--info p span {
  font-weight: 700;
  padding-right: 6px;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--title h1 {
  font-size: 38px;
  line-height: 2.5rem;
}
@media (max-width: 768px) {
  .clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--title h1 {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--title h1 {
    font-size: 28px;
  }
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--genres {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--genres-genre {
  font-size: 12px;
  margin-right: 8px;
  background-color: #334155;
  padding: 4px;
  border-radius: 5px;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--genres-genre:last-child {
  margin-right: 0;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--status-title {
  font-size: 16px;
  margin-bottom: 6px;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--status span {
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 12px;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--buttons {
  display: flex;
}
@media (max-width: 365px) {
  .clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--buttons {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--buttons > button {
    margin-bottom: 10px;
  }
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--buttons-button {
  background-color: #0f172a;
  border: none;
  outline: none;
  text-align: center;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--buttons-button:first-child {
  margin-right: 8px;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--buttons-button:hover {
  background-color: #2563eb;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--buttons-button .icon {
  width: 1.25rem;
  height: 1.25rem;
  color: white;
}
.clicked-anime__wrapper .clicked-anime__block .clicked-anime__text--buttons-button p {
  padding: 0 4px;
  text-align: right;
  font-size: 12px;
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: #1e293b;
}
@media (max-width: 768px) {
  .clicked-anime__wrapper .clicked-anime__block .skeleton-anime {
    flex-direction: column;
    align-items: center;
  }
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__img {
  width: 400px;
  background-color: rgb(177, 177, 177);
  height: 600px;
}
@media (max-width: 768px) {
  .clicked-anime__wrapper .clicked-anime__block .skeleton-anime__img {
    width: 100%;
    height: 800px;
  }
}
@media (max-width: 600px) {
  .clicked-anime__wrapper .clicked-anime__block .skeleton-anime__img {
    height: 600px;
  }
}
@media (max-width: 400px) {
  .clicked-anime__wrapper .clicked-anime__block .skeleton-anime__img {
    height: 400px;
  }
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
}
@media (max-width: 768px) {
  .clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text {
    padding-left: 0;
    padding: 40px 0 20px 0;
    width: 100%;
  }
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text > div,
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text ul {
  margin-bottom: 18px;
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text :last-child {
  margin-bottom: 0;
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text--info {
  width: 300px;
  height: 12px;
  border-radius: 5px;
  background-color: rgb(105, 105, 105);
}
@media (max-width: 768px) {
  .clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text--info {
    width: 100%;
    max-width: 60%;
  }
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text--title {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(105, 105, 105);
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text--genres {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text--genres-genre {
  font-size: 12px;
  margin-right: 8px;
  background-color: #334155;
  padding: 10px 30px;
  border-radius: 5px;
}
.clicked-anime__wrapper .clicked-anime__block .skeleton-anime__text--genres-genre:last-child {
  margin-right: 0;
}
.clicked-anime__wrapper .clicked-anime__text-block {
  border: 1px solid;
  --tw-border-opacity: 1;
  border-color: rgb(30 41 59/var(--tw-border-opacity));
}
.clicked-anime__wrapper .clicked-anime__text-block .clicked-anime__para {
  padding: 2rem;
}
.clicked-anime__wrapper .clicked-anime__text-block .clicked-anime__para--desc {
  color: rgba(212, 212, 212, 0.8);
  padding-top: 10px;
}
.clicked-anime__wrapper .clicked-anime__text-block .clicked-anime__para--desc p {
  font-size: 16px;
  line-height: 2rem;
}
@media (max-width: 400px) {
  .clicked-anime__wrapper .clicked-anime__text-block .clicked-anime__para--desc p {
    font-size: 14px;
  }
}
.clicked-anime__wrapper .clicked-anime__text-block .skeleton-anime__para--desc {
  padding: 2rem;
  background-color: rgb(105, 105, 105);
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.search__wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(15, 23, 42, 0.7058823529);
}
.search__wrapper .search__block {
  width: 100%;
  padding: 0 16px;
}
@media (max-width: 600px) {
  .search__wrapper .search__block {
    padding: 0 20px;
  }
}
.search__wrapper .search {
  z-index: 12;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #1e293b;
  padding: 0 16px;
}
@media (max-width: 600px) {
  .search__wrapper .search {
    padding: 0px;
  }
}
.search__wrapper .search__icon {
  text-align: center;
  padding: 0 12px 0 14px;
  border-right: 1px solid white;
}
.search__wrapper .search__input {
  width: 100%;
  position: relative;
  padding: 0 40px 0 14px;
}
.search__wrapper .search__input input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}
.search__wrapper .search__input .loading__spinner {
  position: absolute;
  right: 8px;
  top: 0;
}
@media (max-width: 600px) {
  .search__wrapper .search__input .loading__spinner {
    top: 2px;
  }
}
.search__wrapper .search__input .loading__spinner .spinner {
  font-size: 24px;
  animation: loading-animation 1s linear infinite;
}
@media (max-width: 600px) {
  .search__wrapper .search__input .loading__spinner .spinner {
    font-size: 20px;
  }
}
.search__wrapper .search__buttons {
  display: flex;
  align-items: center;
}
.search__wrapper .search__buttons--button {
  padding-right: 12px;
}
.search__wrapper .search__buttons--button #active {
  display: none;
}
.search__wrapper .search__buttons--button label {
  display: flex;
  align-items: center;
}
.search__wrapper .search__buttons--button a,
.search__wrapper .search__buttons--button span {
  font-size: 12px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .search__wrapper .search__buttons--button a,
  .search__wrapper .search__buttons--button span {
    font-size: 10px;
  }
}
.search__wrapper .search__buttons--button span {
  border-radius: 5px;
  padding: 2px 4px;
}
.search__wrapper .search__buttons--button a p {
  padding: 2px 4px;
  border-radius: 5px;
}
.search__wrapper .search__buttons--button #enter p {
  background-color: #2563eb;
}
.search__wrapper .search__buttons--button #esc p {
  background-color: #334155;
}

.search__results {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: 5px;
  background-color: #1e293b;
  max-height: 500px;
  overflow-y: scroll;
}
.search__results::-webkit-scrollbar {
  width: 6px;
}
.search__results::-webkit-scrollbar-thumb {
  background: red;
  background-color: #0f172a;
}
.search__results::-webkit-scrollbar-track {
  background-color: white;
}
.search__results--result {
  display: flex;
  transition: all 300ms ease;
  cursor: pointer;
}
.search__results--result:first-child {
  border-top-left-radius: 5px;
}
.search__results--result:last-child {
  border-bottom-left-radius: 5px;
}
.search__results--result:hover {
  background-color: rgba(61, 80, 109, 0.3647058824);
}
.search__results--result-padding {
  display: flex;
  padding: 14px;
}
.search__results--result-image img {
  width: 120px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 600px) {
  .search__results--result-image img {
    width: 100px;
  }
}
.search__results--result-data {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 16px;
}
.search__results--result-data-title h1 {
  font-size: 18px;
}
@media (max-width: 400px) {
  .search__results--result-data-title h1 {
    font-size: 16px;
  }
}
.search__results--result-data-desc {
  width: 100%;
  margin: 2px 0;
}
.search__results--result-data-desc p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 14px;
  color: rgba(212, 212, 212, 0.8);
}
@media (max-width: 400px) {
  .search__results--result-data-desc p {
    font-size: 12px;
  }
}
.search__results--result-data-genres {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6px;
}
@media (max-width: 400px) {
  .search__results--result-data-genres {
    display: none;
  }
}
.search__results--result-data-genres-genre {
  font-size: 12px;
  margin-right: 8px;
  background-color: #334155;
  border-radius: 5px;
  padding: 4px;
}
.search__results--result-data-genres-genre:last-child {
  margin-right: 0;
}

.search__no-result {
  width: 100%;
  max-width: 800px;
  display: flex;
  margin: 4px auto 0 auto;
  align-items: center;
  background-color: #1e293b;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
}

.section__sub-title--wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.section__sub-title--wrapper h2 {
  font-size: 24px;
}
@media (max-width: 600px) {
  .section__sub-title--wrapper h2 {
    font-size: 20px;
  }
}
.section__sub-title--wrapper .filter {
  display: flex;
  margin-right: 14px;
  background-color: white;
  transition: all 300ms ease;
  align-items: center;
  border-radius: 5px;
  position: relative;
}
.section__sub-title--wrapper .filter__text {
  width: 100%;
  padding-left: 8px;
}
.section__sub-title--wrapper .filter__text span {
  font-size: 16px;
  color: rgb(105, 105, 105);
  cursor: default;
}
@media (max-width: 600px) {
  .section__sub-title--wrapper .filter__text span {
    font-size: 14px;
  }
}
.section__sub-title--wrapper .filter__options {
  display: flex;
  align-items: center;
}
.section__sub-title--wrapper .filter__options--option {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.section__sub-title--wrapper .filter__options--option:last-child {
  margin-right: 10px;
  border-left: 1px solid rgba(105, 105, 105, 0.549);
  padding-left: 8px;
}
.section__sub-title--wrapper .filter__options--option-icon {
  color: rgb(105, 105, 105);
}
.section__sub-title--wrapper .filter__names {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: rgb(105, 105, 105);
  width: 100%;
  z-index: 10;
  top: 44px;
  border-radius: 5px;
}
.section__sub-title--wrapper .filter__names--name {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.section__sub-title--wrapper .filter__names--name:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.section__sub-title--wrapper .filter__names--name:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.section__sub-title--wrapper .filter__names--name:hover {
  background-color: rgba(51, 65, 85, 0.4431372549);
  color: white;
}
@media (max-width: 600px) {
  .section__sub-title--wrapper .filter__names--name {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */