@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

$background-color: #0f172a;
$primary-color: white;
$secundary-color: #1e293b;
$button-color: #2563eb;
$category-color: #334155;

@keyframes skeleton-loading-img {
  0% {
    background-color: rgba(177, 177, 177, 0.664);
  }
  100% {
    background-color: rgb(177, 177, 177);
  }
}

@keyframes skeleton-loading-genre {
  0% {
    background-color: #33415579;
  }
  100% {
    background-color: $category-color;
  }
}

@keyframes skeleton-loading-title {
  0% {
    left: -14px;
  }
  100% {
    left: 100%;
  }
}

@mixin text-overflow {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-overflow: unset;
      overflow: visible;
      white-space: normal;
      word-break: break-all;
    }
  }
}

@mixin transition {
  transition: all 300ms ease;
}

@mixin skeleton-animation($animation-info) {
  animation: $animation-info;
}

body {
  background-color: $background-color;
  color: $primary-color;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.row {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;

  &__background {
    background-color: $secundary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;

    height: 60px;
    border-radius: 5px;

    p {
      font-size: 18px;
    }
  }
}
